header h1 {
  text-align: center;
  color: white;
  margin-top: 20px;
}

body {
  background-image: url('https://images.unsplash.com/photo-1560457079-9a6532ccb118?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3367&q=80');
    background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}
#root {
  display: flex;
}
#editor {
  margin: 20px auto;
  width: 50vw;
  border: 4px solid green;
  padding: 50px;
  font-family: 'DotGothic16', sans-serif;
  color: white;
  background-color: black;
  float: left;
}

#preview {  
  margin: 20px auto;
  width: 50vw;
  border: 4px solid blue;
  padding: 50px;
  background-color: white;
  float: right;

}


